@charset "UTF-8";

@font-face {
    font-family: 'Galmuri9';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/Galmuri9.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {cursor: url(https://cur.cursors-4u.net/cursors/cur-9/cur267.cur), auto !important;} 
* {padding: 0; margin: 0; list-style: none; color: #777; text-decoration: none; font-family: 'Galmuri9'; font-size: 13px;}
*::selection {color: #999; background-color: lavender;}
.clearfix::after {display: block; clear: both; content: '';}

body {background-color: lavender;}

#wrap {width: 450px; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}

header {width: 450px; margin: 0 auto; text-align: center;}
header .logo {padding-bottom: 15px;}
header .menu {width: 450px; margin: 0 auto; background-color: whitesmoke; box-sizing: border-box; border: 1px solid #999; border-bottom: 0;}
header nav {width: 300px; margin: 0 auto; text-align: center;}
header nav ul.gnb {position: relative; width: 100%; margin: 0 auto;}
header nav ul.gnb > li {float: left; text-align: center; width: 100px; height: 30px; line-height: 30px;z-index: 100;}
header nav ul.gnb > li > a {display: block;text-align: center; font-weight: bold;}
header nav ul.gnb > li:hover > a {display: block; color: plum;}

header nav ul.sub {display: none; z-index: 100; position: absolute; top: 30px;}
header nav ul.sub > li {width: 100%; height: 30px; line-height: 30px;}
header nav ul.sub > li > a {display: block; width: 100px; background-color: whitesmoke; }
header nav ul.sub > li:hover > a {display: block; color: #fff; background-color: plum;}

section#contents {width: 100%; height: 550px; background-color: #fff; box-sizing: border-box; border: 1px solid #999;}
section#contents .conArea {padding: 20px;}


section#contents .conArea .conTxt {margin-top: 20px; height: 450px; overflow: auto;}
section#contents .conArea .conTxt::-webkit-scrollbar {width: 5px;}
section#contents .conArea .conTxt::-webkit-scrollbar-thumb{width: 5px; background-color: lavender;}
section#contents .conArea .conTxt p {width: 390px;}

footer .copy {text-align: center; padding-top: 10px;}